@import "tailwindcss";

html {
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

body {
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
